# I realize that there are two tables, one is average and one is total. I am not sure which one to use, so I just put them at the top.
# I do not know which columns that we want, so I will leave it blank, so you can add them in as list, after that, I will drop them.

In [1]:
# Import Dependencies
import pandas as pd

In [2]:
# Set the main url, then read in the table. There are two tables in the web page
# The first one is "League Year-By-Year Pitching--Averages"
baseball_url='https://www.baseball-reference.com/leagues/MLB/pitch.shtml'
baseball_average_table=pd.read_html(baseball_url)[0]
# The second one is "League Year-By-Year Pitching--Totals"
baseball_total_table=pd.read_html(baseball_url)[1]

In [3]:
# Convert to a dataframe
baseball_totals_df=pd.DataFrame(baseball_total_table)

In [4]:
# Set the index to Year column
baseball_totals_df=baseball_totals_df.set_index('Year')

In [5]:
# Convert it to a dataframe 
baseball_average_df=pd.DataFrame(baseball_average_table)

In [6]:
# Set the index to Year column for later cleaning
baseball_average_df=baseball_average_df.set_index('Year')

In [7]:
# Display the table
baseball_average_df

,Tms,#P,PAge,R/G,ERA,G,GF,CG,SHO,tSho,...,BF,ERA+,WHIP,BAbip,H9,HR9,BB9,SO9,SO/W,E
Year,,,,,,,,,,,,,,,,,,,,,
2020,30,721,28.3,4.69,4.49,1530,0.98,0.02,0.01,0.05,...,37.11,NaN,1.335,.292,8.4,1.4,3.6,9.0,2.52,0.57
2019,30,831,28.4,4.83,4.49,4858,0.99,0.01,0.01,0.06,...,38.39,NaN,1.334,.298,8.7,1.4,3.3,8.9,2.69,0.60
2018,30,799,28.4,4.45,4.14,4862,0.99,0.01,0.00,0.06,...,38.08,NaN,1.304,.295,8.5,1.2,3.2,8.5,2.63,0.57
2017,30,755,28.5,4.65,4.35,4860,0.99,0.01,0.01,0.05,...,38.13,NaN,1.342,.300,8.8,1.3,3.3,8.3,2.53,0.58
2016,30,742,28.3,4.48,4.18,4856,0.98,0.02,0.01,0.06,...,38.01,NaN,1.325,.300,8.8,1.2,3.1,8.1,2.58,0.58
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1874,8,17,24.7,7.48,2.19,464,0.05,0.95,0.03,0.03,...,41.69,NaN,1.310,NaN,11.3,0.1,0.5,0.8,1.50,8.14
1873,9,25,21.3,8.99,3.40,398,0.09,0.91,0.02,0.02,...,43.45,NaN,1.468,NaN,12.4,0.1,0.8,0.7,0.83,8.02
1872,11,21,21.1,9.26,3.65,366,0.11,0.89,0.03,0.03,...,43.52,NaN,1.439,NaN,12.2,0.1,0.7,0.7,1.01,7.50
1871,9,19,24.6,10.47,4.22,254,0.09,0.91,0.02,0.02,...,44.15,NaN,1.553,NaN,12.4,0.2,1.6,0.7,0.45,7.61
Year,Tms,#P,PAge,R/G,ERA,G,GF,CG,SHO,tSho,...,BF,ERA+,WHIP,BAbip,H9,HR9,BB9,SO9,SO/W,E

In [8]:
# Display the table
baseball_totals_df

,Tms,#P,PAge,R/G,ERA,G,GF,CG,SHO,tSho,...,BF,ERA+,WHIP,BAbip,H9,HR9,BB9,SO9,SO/W,E
Year,,,,,,,,,,,,,,,,,,,,,
2020,30,721,28.3,4.69,4.49,1530,1503,27,12,81,...,56772,NaN,1.335,.292,8.4,1.4,3.6,9.0,2.52,865
2019,30,831,28.4,4.83,4.49,4858,4813,45,26,268,...,186517,NaN,1.334,.298,8.7,1.4,3.3,8.9,2.69,2898
2018,30,799,28.4,4.45,4.14,4862,4820,42,19,312,...,185139,NaN,1.304,.295,8.5,1.2,3.2,8.5,2.63,2792
2017,30,755,28.5,4.65,4.35,4860,4801,59,27,261,...,185295,NaN,1.342,.300,8.8,1.3,3.3,8.3,2.53,2817
2016,30,742,28.3,4.48,4.18,4856,4773,83,36,276,...,184580,NaN,1.325,.300,8.8,1.2,3.1,8.1,2.58,2835
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1874,8,17,24.7,7.48,2.19,464,25,439,15,15,...,19342,NaN,1.310,NaN,11.3,0.1,0.5,0.8,1.50,3775
1873,9,25,21.3,8.99,3.40,398,36,362,8,8,...,17294,NaN,1.468,NaN,12.4,0.1,0.8,0.7,0.83,3191
1872,11,21,21.1,9.26,3.65,366,39,327,10,11,...,15928,NaN,1.439,NaN,12.2,0.1,0.7,0.7,1.01,2746
1871,9,19,24.6,10.47,4.22,254,23,231,4,4,...,11215,NaN,1.553,NaN,12.4,0.2,1.6,0.7,0.45,1934
Year,Tms,#P,PAge,R/G,ERA,G,GF,CG,SHO,tSho,...,BF,ERA+,WHIP,BAbip,H9,HR9,BB9,SO9,SO/W,E

In [9]:
baseball_totals_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 156 entries, 2020 to Year
Data columns (total 32 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Tms     156 non-null    object
 1   #P      156 non-null    object
 2   PAge    156 non-null    object
 3   R/G     156 non-null    object
 4   ERA     156 non-null    object
 5   G       156 non-null    object
 6   GF      156 non-null    object
 7   CG      156 non-null    object
 8   SHO     156 non-null    object
 9   tSho    156 non-null    object
 10  SV      156 non-null    object
 11  IP      156 non-null    object
 12  H       156 non-null    object
 13  R       156 non-null    object
 14  ER      156 non-null    object
 15  HR      156 non-null    object
 16  BB      156 non-null    object
 17  IBB     86 non-null     object
 18  SO      156 non-null    object
 19  HBP     143 non-null    object
 20  BK      156 non-null    object
 21  WP      156 non-null    object
 22  BF      156 non-null    object
 23  ERA+    6 non-null      object
 24  WHIP    156 non-null    object
 25  BAbip   126 non-null    object
 26  H9      156 non-null    object
 27  HR9     156 non-null    object
 28  BB9     156 non-null    object
 29  SO9     156 non-null    object
 30  SO/W    156 non-null    object
 31  E       156 non-null    object
dtypes: object(32)
memory usage: 40.2+ KB

In [10]:
# Filter out the duplicate headers as rows
rows_to_drop=baseball_average_df.loc['Year']

In [11]:
# Display to check
rows_to_drop

,Tms,#P,PAge,R/G,ERA,G,GF,CG,SHO,tSho,...,BF,ERA+,WHIP,BAbip,H9,HR9,BB9,SO9,SO/W,E
Year,,,,,,,,,,,,,,,,,,,,,
Year,Tms,#P,PAge,R/G,ERA,G,GF,CG,SHO,tSho,...,BF,ERA+,WHIP,BAbip,H9,HR9,BB9,SO9,SO/W,E
Year,Tms,#P,PAge,R/G,ERA,G,GF,CG,SHO,tSho,...,BF,ERA+,WHIP,BAbip,H9,HR9,BB9,SO9,SO/W,E
Year,Tms,#P,PAge,R/G,ERA,G,GF,CG,SHO,tSho,...,BF,ERA+,WHIP,BAbip,H9,HR9,BB9,SO9,SO/W,E
Year,Tms,#P,PAge,R/G,ERA,G,GF,CG,SHO,tSho,...,BF,ERA+,WHIP,BAbip,H9,HR9,BB9,SO9,SO/W,E
Year,Tms,#P,PAge,R/G,ERA,G,GF,CG,SHO,tSho,...,BF,ERA+,WHIP,BAbip,H9,HR9,BB9,SO9,SO/W,E
Year,Tms,#P,PAge,R/G,ERA,G,GF,CG,SHO,tSho,...,BF,ERA+,WHIP,BAbip,H9,HR9,BB9,SO9,SO/W,E

In [12]:
# Filter out the duplicate headers as rows
totals_df_rows=baseball_totals_df.loc['Year']

In [13]:
# Display to check
totals_df_rows

,Tms,#P,PAge,R/G,ERA,G,GF,CG,SHO,tSho,...,BF,ERA+,WHIP,BAbip,H9,HR9,BB9,SO9,SO/W,E
Year,,,,,,,,,,,,,,,,,,,,,
Year,Tms,#P,PAge,R/G,ERA,G,GF,CG,SHO,tSho,...,BF,ERA+,WHIP,BAbip,H9,HR9,BB9,SO9,SO/W,E
Year,Tms,#P,PAge,R/G,ERA,G,GF,CG,SHO,tSho,...,BF,ERA+,WHIP,BAbip,H9,HR9,BB9,SO9,SO/W,E
Year,Tms,#P,PAge,R/G,ERA,G,GF,CG,SHO,tSho,...,BF,ERA+,WHIP,BAbip,H9,HR9,BB9,SO9,SO/W,E
Year,Tms,#P,PAge,R/G,ERA,G,GF,CG,SHO,tSho,...,BF,ERA+,WHIP,BAbip,H9,HR9,BB9,SO9,SO/W,E
Year,Tms,#P,PAge,R/G,ERA,G,GF,CG,SHO,tSho,...,BF,ERA+,WHIP,BAbip,H9,HR9,BB9,SO9,SO/W,E
Year,Tms,#P,PAge,R/G,ERA,G,GF,CG,SHO,tSho,...,BF,ERA+,WHIP,BAbip,H9,HR9,BB9,SO9,SO/W,E

In [14]:
# Drop out those unnecessary rows
cleaned_baseball_df=baseball_average_df[baseball_average_df['Tms'].isin(rows_to_drop)==False]

In [15]:
# Checking the length of the df. The original has 156 rows, so the cleaned up one should have 150 rows after dropping.
len(cleaned_baseball_df)

150

In [16]:
# Drop out those unnecessary rows
cleaned_totals_df=baseball_totals_df[baseball_totals_df['Tms'].isin(totals_df_rows)==False]

In [17]:
# Checking for the length
len(cleaned_totals_df)

150

In [18]:
# Fill NaN for all the cells in two tables
cleaned_totals_df=cleaned_totals_df.fillna(0)
cleaned_baseball_df=cleaned_baseball_df.fillna(0)

In [19]:
# Display to check
cleaned_totals_df['ERA+'].unique()

array([0], dtype=int64)

In [20]:
# Dropping those unnecessary columns
cleaned_baseball_df=cleaned_baseball_df[['Tms','R/G','ERA','GF','CG','HR','SO','HBP','HR9','SO9']]

In [21]:
cleaned_baseball_df=cleaned_baseball_df.reset_index()

In [22]:
cleaned_baseball_df['Year']=cleaned_baseball_df['Year'].astype(int)

In [23]:
cleaned_baseball_df

     Year Tms    R/G   ERA    GF    CG    HR    SO   HBP  HR9  SO9
0    2020  30   4.69  4.49  0.98  0.02  1.30  8.62  0.46  1.4  9.0
1    2019  30   4.83  4.49  0.99  0.01  1.39  8.81  0.41  1.4  8.9
2    2018  30   4.45  4.14  0.99  0.01  1.15  8.48  0.40  1.2  8.5
3    2017  30   4.65  4.35  0.99  0.01  1.26  8.25  0.36  1.3  8.3
4    2016  30   4.48  4.18  0.98  0.02  1.16  8.03  0.34  1.2  8.1
..    ...  ..    ...   ...   ...   ...   ...   ...   ...  ...  ...
145  1875  13   6.14  2.23  0.10  0.90  0.06  0.98     0  0.1  1.0
146  1874   8   7.48  2.19  0.05  0.95  0.09  0.77     0  0.1  0.8
147  1873   9   8.99  3.40  0.09  0.91  0.12  0.70     0  0.1  0.7
148  1872  11   9.26  3.65  0.11  0.89  0.10  0.72     0  0.1  0.7
149  1871   9  10.47  4.22  0.09  0.91  0.19  0.69     0  0.2  0.7

[150 rows x 11 columns]

In [24]:
# Rows to drop before 1920
pre_1920_rows=cleaned_baseball_df.loc[(cleaned_baseball_df['Year']>=1920)]

In [34]:
pre_1920_rows.dtypes

Year     int32
Tms     object
R/G     object
ERA     object
GF      object
CG      object
HR      object
SO      object
HBP     object
HR9     object
SO9     object
dtype: object